@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Banner Style*/

.banner{
    max-width:80%;
    margin:100px auto 0;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('img/images/Banner Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.banner-content{
    text-align: center;
    width:500px;
}

.banner-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 400;
}

.banner-description{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 15px;
}

/* Offer section style*/


.offer{
    max-width:80%;
    margin: 0 auto;
    text-align: center;
}

.section-title-1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 0px;
}

.section-title-2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0px;
}

.section-title-3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 50px;
}

/* Party Section Style */

.party-child-section{
    max-width: 80%;
    margin: 100px auto 0;
    height: 500px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('img/images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  
}

.party-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 44px;
    font-weight: 800;
    line-height: 88px;
    width:450px;
    letter-spacing: 5px;
}

.party-description{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.party-join{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.party-join{
    margin-top: 20px;
    display: inline-block;
    margin-left: 20px;
}
.party-image{
    margin-left: 100px;
}
.party-image img{
    width: 250px;
}

/*place-time-date-section*/

.place-time-date-section{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-time-date-content{
    text-align: center;
}

.place-time-date-info{
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.red-color{
    color: red;
}

.btn-j{
 
width: 167px;
height: 56px;
padding: 12px 28px 12px 28px;
border-radius: 8px;
background: rgb(255, 0, 0);
border: none;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
margin-top: 40px;
margin-bottom: 50px;

}

/* coming soon section style*/

.coming-soon-content{
    max-width: 80%;
    display: flex;
    margin: 80px auto;
    justify-content: space-evenly;
    align-items: center;
    
}

.coming-soon{
    margin-left: 0px;
}
.coming-soon-title-1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    
}

.coming-soon-title-2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.coming-soon-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    width:300px;
   
}

.coming-soon-img{

    width: 270px;
    height: 270px;
    
    
}

.coming-soon-articale{
    margin-left: 50px;
}
.coming-soon-articale-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
   
}

.coming-soon-articale-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    width:230px;
    margin-bottom: 20px;
}

/* Functional section style*/

.functional-content{
    max-width: 80%;
    margin: 200px auto 0px;
    text-align: center;
    background-image: url('img/images/Rectangle 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    
}


.functional-content-title-1{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
  
}

.functional-content-title-2{
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.functional-content-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    width: 645px;
    margin: 0 auto;
    
}
.functional-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
   
}

.functional-img-1{
    width:500px;
    height:400px;
   
}

/* Portfolio section style*/

.portfolio-content{
    max-width:80%;
    margin:100px auto 0;
}

.portfolio-title-1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.portfolio-title-2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.portfolio-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    width:700px;
}

.portfolio-img{
    margin-top: 50px;
}
.img-width{
    width:32%;
    
}

.img-gap{
    margin-left: 1%;
}

.img-margin{
    margin-top: 1%;
}

/* Subscribe section style*/

.subscribe-content{
    max-width: 80%;
    margin: 100px auto 150px;
    padding: 0 0 50px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.email-icon{
    width:80px;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 100px;
}


.subscribe-title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.subscribe-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    width:650px;
    margin: 0 auto;
}

.subscribe-container {
    display: flex;
    align-items: center;
    width: 648px;
    height: 64px;
    border: 2px solid #0056FF;
    border-radius: 32px;
    overflow: hidden;
    margin: 50px auto 0;
  }

  .email-input {
    flex: 1;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #888888; 
  }

  .subscribe-button {
    background-color: red;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    height: 100%;
  }

  /* Footer style*/

  .footer-section{
    background: rgb(7, 2, 17);
  }
  .footer-content{
    max-width: 80%;
    margin: 0 auto;
  }

  .footer-location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 50px;
  }

  .location-info{
    width:250px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    margin-top: 50px;
    
  }

  .contact-info{
    margin-top: 50px;
  }

  .contact-info-style{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    
  }


  .footer-icon{
    margin:50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }

.border-style{
    border: 1px solid rgba(255, 255, 255, 0.15);
}

  .footer-icon-width{
    width:40px;
    height: 40px;
  }

.footer-final{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px;
}

.footer-final-txt{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    margin: 50px 0 150px;
    
}